---
layout: default
---

<div class="home">

    <!-- Recreate the header for HOME; remove if works
    <h1>{{ site.course_name }} <span style="font-size: 20px;color: #0006;">/ {{ site.course_semester }} </span></h1>
     -->
    
    <h1>{{ site.course_name }} </h1>
    <p style="font-size: 24px;color: #63625f;"> {{ site.course_semester }}, in-person, on UCSB campus </p>

    {% include announcements.html %}
    <br />

    <!-- Hiding Course Description Heading and course description from _config.yml -->
    <!-- 
    <h2>Course Description</h2>
    <p>{{ site.course_description }}</p>
    -->

    <!-- This section pulls data from index.md -->
    {{ content }}

    <br>
    
    <div>
        <div style="width:55%; float: left">
            <div class="profile-pic-gallary ">
                <h2>Organizers</h2>
                {% for org in site.data.entity.organizers %}
                <div class="image--cover-container">
                    <img src="{{org.profile_pic | prepend: site.baseurl }}" class="image--cover">
                    {% if org.webpage %}
                    <p><a href="{{ org.webpage }}">{{org.name}}</a></p>
                    {% else %}
                    <p>{{org.name}}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>

        <div style="width:45%; float: left">
            <div class="profile-pic-gallary ">
                <h2>Funder</h2>
                {% for fdr in site.data.entity.funder %}
                <div class="image--cover-container">
                    <img src="{{fdr.profile_pic | prepend: site.baseurl }}" class="image--cover">
                    {% if fdr.webpage %}
                    <p><a href="{{ fdr.webpage }}">{{fdr.name}}</a></p>
                    {% else %}
                    <p>{{fdr.name}}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
    
</div>