---
layout: default
---

<div class="home">

    <h1>{{ site.course_name }} <span style="font-size: 20px;color: #0006;">/ {{ site.course_semester }} </span></h1>

    {% include announcements.html %}
    <br />

    <!-- Hiding Course Description Heading and course description from _config.yml -->
    <!-- 
    <h2>Course Description</h2>
    <p>{{ site.course_description }}</p>
    -->

    <!-- This section pulls data from index.md -->
    {{ content }}

    <br>
    
    <div>
        <div style="width:55%; float: left">
            <div class="profile-pic-gallary ">
                <h2>Organizers</h2>
                {% for organizer in site.data.entity.organizers %}
                <div class="image--cover-container">
                    <img src="{{organizer.profile_pic | prepend: site.baseurl }}" class="image--cover">
                    {% if organizer.webpage %}
                    <p><a href="{{ organizer.webpage }}">{{organizer.name}}</a></p>
                    {% else %}
                    <p>{{organizer.name}}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>

        <div style="width:45%; float: left">
            <div class="profile-pic-gallary ">
                <h2>Funder</h2>
                {% for funder in site.data.entity.funder %}
                <div class="image--cover-container">
                    <img src="{{funder.profile_pic | prepend: site.baseurl }}" class="image--cover">
                    {% if funder.webpage %}
                    <p><a href="{{ funder.webpage }}">{{funder.name}}</a></p>
                    {% else %}
                    <p>{{funder.name}}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
    
</div>